<div class="login">
  <h1> n8's twitter clone </h1>
  <form method="get" action="/users/begin_twitter_sign_in" class="button_to">
    <input value="Sign in with Twitter" type="submit" />
  </form>
  <img src="images/fat-twitter-bird.jpg"/>
</div>
