// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: Helvetica, sans-serif;
$primary-color: #333;
$gray: #ABABAB;
$light-gray: #E8E8E8;
$very-light-gray: #F6F6F6;
$blue: #0084B4;
$transp-white: rgba(255, 255, 255, 0.98);

body {
  font: 100% $font;
  color: $primary-color;
}

.login {
  form {
    width: 300px;
  }

  input {
    border: 1px solid $very-light-gray;
    border-radius: 4px;
    background-color: white;
    height: 75px;
    width: 300px;
    font-size: 30px;
    font-weight: 600;
  }

  input:hover {
    background-color: $blue;
    color: white;
    cursor: pointer;
  }

  img {
    visibility: hidden;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
    position: relative;
    top: -220px;
    z-index: -1;
  }

  form:hover + img {
    visibility: visible;
  }
}


.login {
  width: 500px;
  margin: auto;
  margin-top: 100px;
}
