// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #ABABAB;
$light-gray: #E8E8E8;
$very-light-gray: #F6F6F6;
$blue: #0084B4;

.hidden {
  display: none;
}

.recent-searches {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    border: 1px solid #E8E8E8;
    margin-left: 2px;
    width: 200px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    font-size: 12px;
    text-align: left;
    line-height: 18px;  
  
  h4 {
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    padding-left: 10px;
    margin-bottom: 5px;
  }

  li {
    display: block;
    list-style: none;
    width: 100%;
    white-space: nowrap;
    float: left;
    clear: left;
    padding: 10px;
  }

  li:hover {
    background-color: $blue;
    cursor: pointer;
  }
} 

.tweet-things {
  width: 500px;
  margin: auto;
}

.get-tweets {
  float: right;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 25px;

  input {
    border-radius: 20px;
    border: 1px solid $light-gray;
    height: 10px;
    background-color: $very-light-gray;
    padding: 10px;
    padding-left: 15px;
    width: 200px;
  }

  input:focus {
    background-color: white;
    outline: none;
  }
}


.info {
  float: left;
  width: 420px;
}

.img-icon {
  border: 1px solid $light-gray;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.tweet-user {
    .lite {
      color: $gray;
      font-size: 13px;
    }

    .bold {
      font-size: 14px;
      margin-right: 5px;
      font-weight: 700;
    }
}

.tweets {
  margin: auto;
  margin-top: 10px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  padding: 0px;
  width: 500px;
  clear: both;
}

.tweets > h2 {
  margin: 0px;
  line-height: 1;
  padding: 15px 15px 12px;
  font-size: 18px;
  font-weight: 600;
}

.tweet {
  border-top: 1px solid $light-gray;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.tweet:hover {
  cursor: pointer;
  background-color: $very-light-gray;
}

.tweet:after {
  content: "";
  display: block;
  clear: both;
}

.tweet-date {
  color: $gray;
  font-size: 13px;
}
